body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-size: cover;
  color: black;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
}

.top-wrapper h2 {
  opacity: 0.7;
  font-size: 25px;
  letter-spacing: 5px;
}

.top-wrapper p {
  opacity: 0.7;
}

.btn-wrapper {
  margin: 20px 0;
}

.launch {
  background-color: #ab2f00;
}

.btn {
  padding: 8px 24px;
  color: black;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.btn:hover {
  opacity: 1;
}

header {
  height: 65px;
  width: 100%;
  opacity: 1;
  /* positionプロパティをfixedに、topを0に指定してください */
  position: fixed;
  top: 0;
  color:black;
  
  /* z-indexを10に指定してください */
  z-index: 10;
}

.logo {
  width: 124px;
  margin-top: 20px;
}

.header-left {
  float: left;
}

.header-left a{
  color: black;
}

.header-right {
  float: right;
  transition: all 0.5s;
}

.header-right ul li {
  display: inline-block;
  margin-left:20px;
  cursor: pointer;
}

.home:hover {
  color: #ab2f00;
}
.whitepaper:hover {
  color: #ab2f00;
}
.tokenlaunch:hover {
  color: #ab2f00;
}
.login:hover {
  color: #ab2f00;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: black;
  display: block;
}

.investor-wrapper {
  height: 500px;
  padding-bottom: 80px;
  text-align: center;
}

.heading {
  padding-top: 60px;
  padding-bottom: 30px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.investor {
  float: left;
  width: 25%;
}

.investor-icon {
  position: relative;
}

.gamelist-wrapper {
  height: 500px;
  padding-bottom: 80px;
  text-align: center;
}

.heading {
  padding-top: 60px;
  padding-bottom: 30px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.game {
  float: left;
  width: 50%;
  margin: 0 auto;
}

.game-icon {
  position: relative;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
}